# Control Structures.

In [1]:
#loops and if and if else.

In [2]:
#python 3 supports two types of loops .
# 1) while loop
# 2) for loop.


# loops can be nested, which means outer loop can be while and 
# inner loop can be for loop and vice versa.

# loops can also contains if , if else and if else ladder.

# loops can have control statements (continue , break and pass).

In [4]:
# loops : it is just a collection of iterations, iterations 
# may starts from 0 or 1. i.e iteration 0 or iteration 1.

# there is no ending criteria to stop a loop.

# so to write a loop, it requires three things : starting criteria

# ending criteria and how iterations are changing from one another.

In [5]:
# in python we have two ways to write a loop.

# 1) while loop 
# 2) for loop.

In [6]:
print("hello world")

hello world

In [7]:
0000   ?>0   print("hello world")

hello world

In [8]:
# but in case of control structures , indentation  problems occurs.

In [9]:
# when we use loops : when we need to do one loop repeatatively
# with or without change.

In [10]:
print("hello world")
print("hello world")
print("hello world")
print("hello world")

hello world
hello world
hello world
hello world

In [12]:
count=1000

while (count <=1003):
    print("hello world")
    count=count+1

hello world
hello world
hello world
hello world

In [ ]:
print("Abhishek")

In [15]:
count=11
while count<=20:
    print("Abhishek")
    count=count+1

Abhishek
Abhishek
Abhishek
Abhishek
Abhishek
Abhishek
Abhishek
Abhishek
Abhishek
Abhishek

In [22]:
# this block specifies the function definition.


def print_names(string ,y) :
    count=1
    while count<1+y:
        print(string)
        count=count+1

In [23]:
print_names('abhishek',5)

abhishek
abhishek
abhishek
abhishek
abhishek

In [24]:
print_names('sapna',10) # this is called function calling.

sapna
sapna
sapna
sapna
sapna
sapna
sapna
sapna
sapna
sapna

# Use of else statements with while loops.

In [30]:
# The else clause is only executed when your while 
# condition becomes false. If you break out of the loop, 
# or if an exception is raised, it won't be executed. 

# The else block just after for/while is executed only 
# when the loop is NOT terminated by a break statement.

In [31]:
# #syntax :
# while condition:
#      # execute these statements
# else:
#      # execute these statements

In [32]:
# for loop: it is used for sequential traversal.
# traversal means : process each and every element availabel in the below data structures / data types.

# for example : to traverse a list , tuple,set, arrays,dict, strings and iterating by index of sequences, enumeration.

In [35]:
list_=[10,12,13,14,15,17]
tuple_=(10,12,14,21,92)
set_={10,12,14,21,15,32}
dict_={1:'abhishek',2:'vikash',3:'arjun'}
string_="abhishek"

In [37]:
# lets see the syntax: : process each element one by one , here processing in printing.

#traverse the list:

for x in list_:
    print(x, end=' ')

10 12 13 14 15 17

In [41]:
for x in list_:
    print(x+1)

11
13
14
15
16
18

In [38]:
# traverse the tuple : process each element one by one , here processing in printing.

for x in tuple_:
    print(x, end=' ')

10 12 14 21 92

In [90]:
# traverse the set:traverse the tuple : process each element one by one , here processing in printing.

for x in tuple_:
    print(x, end=' \n')

for x in set_:
    print(x,end=' ')

10
12
14
21
92
32 10 12 14 15 21

In [43]:
#traverse the dict: traverse the tuple : process each element one by one , here processing in printing.

for x in tuple_:
    print(x, end=' ')

10 12 14 21 92 1 2 3

In [50]:
for x in string_:
    print(x, end=' ')

a b h i s h e k

In [53]:
# for x in dict_:
#     print(x end=' ')   

# dict in this way, it it going to print only keys, not the values.

In [87]:
print(dict_)

{1: 'abhishek', 2: 'vikash', 3: 'arjun'}

In [88]:
print(dict_[3])

arjun

In [89]:
for x in dict_:
    print(x,dict_[x])

1 abhishek
2 vikash
3 arjun

# iterating by index of sequences, enumeration using for loops

In [54]:
# index starts from 0.

list_ =[10,12,15,18,19,21]
print(list_)

[10, 12, 15, 18, 19, 21]

In [56]:
list_ =[10,12,15,18,19,21]
print(list_[0])

10

In [57]:
list_ =[10,12,15,18,19,21]
print(list_[1])

12

In [58]:
list_ =[10,12,15,18,19,21]
print(list_[2])

15

In [59]:
list_ =[10,12,15,18,19,21]
print(list_[3])

18

In [ ]:
# as we know list and tuples suporrts indexes and set, dict does not suport indexes.

In [81]:
for abhishek in range(len(list_)):
    print(list_[abhishek], end=" ")

10 12 15 18 19 21

In [62]:
# what is range and what is len.

In [63]:
# len returns the length of the complex data types.

In [64]:
print(list_)
print(len(list_))

[10, 12, 15, 18, 19, 21]
6

In [ ]:
#range : it makes a list of numbers with difference of steps.

In [65]:
#print(range(0,10)) : [0,1,2,3,4,5,6,7,8,9]

range(0, 10)

In [66]:
#range(0,10,2) : [0,2,4,6,8]

In [67]:
print(list_)

[10, 12, 15, 18, 19, 21]

In [68]:
print(list_[0])

10

In [70]:
for x in list_:
    print(x, end=" ")

10 12 15 18 19 21

In [76]:
for x in [0,1,2,3,4,5]:
    print(list_[x],end=" ")

10 12 15 18 19 21

In [78]:
# as we know list can be made from range() by passing the range values.
# so we can replace a list(0,1,2,3,4,5) with range(0,6)
for x in range(0,6):
    print(list_[x],end=" ")

10 12 15 18 19 21

In [80]:
# as we know the 6 in the range values is dependent on the length of the list.
# to make it specific, we can pass the lenth of the list.
for x in range(len(list_)):
    print(list_[x],end=" ")

10 12 15 18 19 21

In [75]:
for x in range(len(list_)):
    print(list_[x],end=" ")

10 12 15 18 19 21

In [74]:
for x in range(len(tuple_)):
    print(tuple_[x],end=" ")

10 12 14 21 92

In [82]:
for x in range(0,10):
    print(x,end=' ')

0 1 2 3 4 5 6 7 8 9

In [84]:
for x in range(0,10,2):
    print(x, end= " ")

0 2 4 6 8

In [98]:
# enumerate() : it is a python function which returns

# list of tuples where each tuples is a (index,data) format.

In [104]:
names=['abhishek','vikash','ranjan','sapna']
print (enumerate(names))

# output will be  : [(0,'abhishek'),(1,'vikash'),(2,'ranjan'),(3,'sapna')]

<enumerate object at 0x000001D389A14E40>

In [106]:
names=['abhishek','vikash','ranjan','sapna']
for x  in [(0,'abhishek'),(1,'vikash'),(2,'ranjan'),(3,'sapna')]:
    print(x)

(0, 'abhishek')
(1, 'vikash')
(2, 'ranjan')
(3, 'sapna')

In [107]:
names=['abhishek','vikash','ranjan','sapna']
for x  in [(0,'abhishek'),(1,'vikash'),(2,'ranjan'),(3,'sapna')]:
    print(" This is the index : {} and this is the values at that index : {} ".format(x[0],x[1]))

 This is the index : 0 and this is the values at that index : abhishek
 This is the index : 1 and this is the values at that index : vikash
 This is the index : 2 and this is the values at that index : ranjan
 This is the index : 3 and this is the values at that index : sapna

In [108]:
names=['abhishek','vikash','ranjan','sapna']
for x  in enumerate(names):
    print(x)

(0, 'abhishek')
(1, 'vikash')
(2, 'ranjan')
(3, 'sapna')

In [109]:
names=['abhishek','vikash','ranjan','sapna']
for x  in enumerate(names):
    print(" This is the index : {} and this is the values at that index : {} ".format(x[0],x[1]))

 This is the index : 0 and this is the values at that index : abhishek
 This is the index : 1 and this is the values at that index : vikash
 This is the index : 2 and this is the values at that index : ranjan
 This is the index : 3 and this is the values at that index : sapna

In [117]:
x=10
print(x)
print(type(x))
y, z= 11,12
print(y,z)
print(type(y), type(z))

10
<class 'int'>
11 12
<class 'int'> <class 'int'>

In [121]:
m=12,13
print(m)
print(type(m))

(12, 13)
<class 'tuple'>

In [123]:
print(type(m[0]))

<class 'int'>

In [ ]:
names=['abhishek','vikash','ranjan','sapna']
for x  in enumerate(names):
    print(" This is the index : {} and this is the values at that index : {} ".format(x[0],x[1]))

In [124]:
names=['abhishek','vikash','ranjan','sapna']
for index, data  in enumerate(names):
    print(" This is the index : {} and this is the values at that index : {} ".format(index,data))

 This is the index : 0 and this is the values at that index : abhishek
 This is the index : 1 and this is the values at that index : vikash
 This is the index : 2 and this is the values at that index : ranjan
 This is the index : 3 and this is the values at that index : sapna

In [127]:
cars=['belore','safari','audi','nano']
prices=[10,20,30,40,11,13]
accessories=['wiper','music system']


for index,data in enumerate(cars):
    print('price is : {}  and name of the car is : {}'. format(prices[index],data))

price is : 10  and name of the car is : belore
price is : 20  and name of the car is : safari
price is : 30  and name of the car is : audi
price is : 40  and name of the car is : nano
price is : 11 and name of the accessories is : wiper
price is : 13 and name of the accessories is : music system

In [128]:
for index, data in enumerate(accessories):
    print('price is : {} and name of the accessories is : {}'. format(prices[index + len(cars)], data))

price is : 11 and name of the accessories is : wiper
price is : 13 and name of the accessories is : music system

In [129]:
# lets do the same thing in a better way : use the ZIP function instead.

In [137]:
for x in zip(prices, cars):
    print(x)
    
# here x represents here tuple.

(10, 'belore')
(20, 'safari')
(30, 'audi')
(40, 'nano')

In [140]:
for x, y in  zip(cars, prices):
    print(x,y)

# here x is a string and y is a int.

belore 10
safari 20
audi 30
nano 40

In [142]:
for x in zip(cars, prices):
    print(x[0],x[1])

# since x is tuple here and we know tuple support index , so we 
# find each of the element values using index i.e tuple_[0], tuple_[1]

belore 10
safari 20
audi 30
nano 40

In [144]:
# this lis_ is a list of elements, where each element is a tuple.
lis_=[('firstname','abhishek'),('lastname','kumar'),('age',26),('address','gobarsahi')]
for x in lis_:
    print(x)

('firstname', 'abhishek')
('lastname', 'kumar')
('age', 26)
('address', 'gobarsahi')

In [145]:
# to unzip a zipped list : list of tuples.
l1,l2= zip(*lis_)
print(l1)
print(l2)

('firstname', 'lastname', 'age', 'address')
('abhishek', 'kumar', 26, 'gobarsahi')

In [146]:
# to again zip this element of l1 and l2.
zipped_list = zip(l1,l2)

In [148]:
for x in  zipped_list:
    print(x)

('firstname', 'abhishek')
('lastname', 'kumar')
('age', 26)
('address', 'gobarsahi')

In [125]:
# Use of enumerate function and zip function helps to achieve an effective 
# extension of iteration logic in python and solves many more 
# sub-problems of a huge task or problem.

# Using else statements with for loops

# Nested loops

# Loops Control Statements : break , continue , pass

In [ ]:
#Exercise : How to print a list in reverse order (from last to first item) using while and for in loops.

# 1) if  2) if else  3) if else ladder.

In [149]:
# lets see the syntax.
# syntax for if 
# if condition:
#     statements under if
#     statements under if
#     statements under if

# statments not under if.

In [1]:
#example.
# function definition : how the fucntion should work for me..

def if_test(name):
    if name=='abhishek':
        name=name + ' kumar'
        print(name)
        x=input("Enter the age : ")
        print("The age is : {}".format(x))
    
    print("I am not under if statements..")

In [161]:
if_test(abhishek)

I am not under if statements..

In [167]:
# if else example.
name='abhishe'
if name=='abhishek':
    print(name+ ' kumar')
    

else:
    print(name + ' kumar sanu')

abhishe kumar sanu

In [174]:
# if else  ladder  example.
# in case of if else ladder, we go down to ladder only if we encounter false values.
name='sapna'
if name=='abhishek':
    print(name+ ' kumar')
    

elif name=='sapna':
    print(name + ' kumari')

elif name=='sanu':
    print(name +' kumar')

else:
    print('you are now in else statements.')

sapna kumari

In [177]:
# form handling using if else ladder.

# if name.contains(int):
#     print('first name is not correct..')

# elif age<18:
#     print("your age is incorrect..")

# elif ~email.contains('@gmail.com'):
#     print("email is incorrect..")

# elif ~password.contains(uppercase):
#     print('password is incorrect')

# else:
#     print("Your data is successfully submitted..")
    
    
    
# one thing can be learnt from here : we always have to focus on the statments rather 
# than on conditions. 
# once statments found, then based those statements we can derive a condition.