# Strings

In [1]:
# what is string : string is a collection of characters.
# what is characters : each and every key on the keyboard
# represents a character, not only a-z and A-Z, spaces , special characters
# and semicolon etc, all are characters.
# in programming each character have been allocated unique 
# INTEGER values known as ASCII values.

In [12]:
for x in range(1,256):
    print(chr(x), end=" ")

       
                     ! " # $ % & ' ( ) * + , - . / 0 1 2 3 4 5 6 7 8 9 : ; < = > ? @ A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \ ] ^ _ ` a b c d e f g h i j k l m n o p q r s t u v w x y z { | } ~                                    ¡ ¢ £ ¤ ¥ ¦ § ¨ © ª « ¬ ­ ® ¯ ° ± ² ³ ´ µ ¶ · ¸ ¹ º » ¼ ½ ¾ ¿ À Á Â Ã Ä Å Æ Ç È É Ê Ë Ì Í Î Ï Ð Ñ Ò Ó Ô Õ Ö × Ø Ù Ú Û Ü Ý Þ ß à á â ã ä å æ ç è é ê ë ì í î ï ð ñ ò ó ô õ ö ÷ ø ù ú û ü ý þ ÿ

In [13]:
#how to create strings : three ways.
# 1) single quote
# 2) double quote 
# 3) triple quote : It  is used when we have to write a string in multiple lines
# and printing as it is without using any escape sequence.

In [14]:
name='abhishek'
print(name)
name="abhishek"
print(name)
name ='''  My name is abhishe kumar.
                 I live at muzaffarpur'''
print(name)

abhishek
abhishek
  My name is abhishe kumar.
                 I live at muzaffarpur

In [3]:
# how to print single quote or double quote on screen : 2 ways.

#1) use of escape sequence.
#2) use of mix quotes.

In [20]:
# escape sequence technique.
# this backward slash is known as escape character for string.
msg='this is adam\'s book'
print(msg)

this is adam's book

In [22]:
path="C:\\Users\\Oracle\\Pictures\\resume updated"
print(path)

C:\Users\Oracle\Pictures\resume updated

In [18]:
# mix quotes technique.
msg='My project titled as " Service oriented architecture".'
print(msg)

My project titled as " Service oriented architecture".

In [15]:
msg=" this is adam's book.."
print(msg)

 this is adam's book..

In [ ]:
# # Acessing Characters in strings : string supports index.

# in programming world, index always start with 0.

# While accessing an index out of the range will cause an IndexError. Only Integers are allowed to be passed as an index, 
# float or other types will cause a TypeError.

In [26]:
name="abhishek"

print(name[0])
print(name[1])
print(name[7])
#print(name[8]) # it will show index error : out of range error.

a
b
k

In [35]:
# what if i pass float and other values as index values : it will give us typerror.

# print(name['a']) #: it gives error
# print(name[1.0])

In [36]:
import math
print(name[int(math.pow(2,1))])

h

In [37]:
# string property : indexed , immutable(which can not be changed), but there is some hacks to this.

In [ ]:
# #Deleting/Updating from a string: -
# #In Python, Updation or deletion of characters from a String is not allowed. This will cause an error 
# because item assignment 
# or item deletion from a String is not supported.

# # we can update entire string as well.
# # but we can delete entire string using del keyword.

# This is because Strings are immutable, hence elements of a String cannot be changed once it has been assigned. 
# Only new strings can be reassigned to the same name.

In [48]:
name="abhishek"
#name[4]='l' # typeerror :  'str' object does not support item assignment.

# del name[4] # 'str' object doesn't support item deletion

# it means, in string we can not  update a character and we can not delete a charater.
# however, we can delete and update the entire string, can use this hack for updating the single 
# character and deleting single character in the string.

name="abhilhek"
print(name)

del name
print(name)

abhilhek

NameError: name 'name' is not defined

In [50]:

# To ignore the escape sequences in a String, r or R is used, this implies that the string is a raw string 
# and escape sequences inside it are to be ignored.
# using r or R technique to skip the escape sequences.

path=r"C:\Users\Oracle\Pictures\resume updated"
print(path)

C:\Users\Oracle\Pictures\resume updated

In [ ]:
# formatting of strings : 
# 1) Default order.
# 2) Positional formatting.
# 3) Keyword formatting.

In [58]:
# 1) Default formatting :

print("My name is {} I live at {} and i am pursuing {} my course.".format("abhsihek","Muzaffarpur","Mtech"))

My name is abhsihek I live at Muzaffarpur and i am pursuing Mtech my course.

In [59]:
# 2) Positional formatting

print("My name is {0} I live at {2} and i am pursuing {1} my course.".format("abhsihek","Muzaffarpur","Mtech"))

My name is abhsihek I live at Mtech and i am pursuing Muzaffarpur my course.

In [62]:
# keyword formatting.

#print("My name is {name} I live at {place} and i am pursuing {course} my course.".format('name'="abhsihek",'place'="Muzaffarpur",'course'="Mtech"))

In [78]:
# Integers such as Binary, hexadecimal, etc. and floats can be rounded or displayed in 
# the exponent form with the use of format specifiers.

In [79]:
print("{0:b}".format(16)) # for binary.

10000

In [80]:
print("{0:o}".format(16)) # for octal

20

In [81]:
print("{0:x}".format(16)) # for hexadecimal

10

In [82]:
print("{0:e}".format(165.6458)) # for exponents means 10^ something.

1.656458e+02

In [83]:
print("{0:.3f}".format(1/6))

0.167

In [1]:
print("{:<10}{:^10}{:>10}".format("Geeks", "for", "geeks"))

# :< is used for left alignment.
# :> is used for right alignment.
# :^ is used for center alignment.

Geeks        for         geeks

In [3]:
#A string can be left() or center(^) justified with the use of format specifiers, separated by colon(:).


# String alignment
String1 = "|{:<10}|{:^10}|{:>10}|".format('Geeks','for','Geeks')
print("\nLeft, center and right alignment with Formatting: ")
print(String1)

# To demonstrate aligning of spaces 
String1 = "\n{0:^16} was founded in {1:<4}!".format("GeeksforGeeks", 2009)
print(String1)

Left, center and right alignment with Formatting:
|Geeks     |   for    |     Geeks|

 GeeksforGeeks   was founded in 2009!

In [ ]:
# The output of the boolean operations between the strings depends on following things:

# empty strings --->‘false’ 

# non-empty string -----> ‘true’.

# rule 1: For ‘and’ operator if left value is true, then right value is checked and returned. 
# rule 2 : If left value is false, then it is returned
# rule 3: For ‘or’ operator if left value is true, then it is returned, otherwise if 
# rule 4: left value is false, then right value is returned.


# Note that the bitwise operators (| , &) don’t work for strings.

In [97]:
#repr vs eval

print(repr("Hello world"))
print(repr('Hello world'))

'Hello world'
'Hello world'

In [102]:
str1 = '' # boolean value ---> false.
str2 = 'geeks'# boolean value ----> True.

# repr is used to print the string along with the quotes

# Returns str1
print(bool(str1 and str2))

False

In [98]:
str1 = '' # boolean value ---> false.
str2 = 'geeks'# boolean value ----> True.

# repr is used to print the string along with the quotes

# Returns str1
print(str1 and str2)

# Returns str1
print(repr(str2 and str1))

# Returns str2	
print(repr(str1 or str2))

# Returns str2
print(repr(str2 or str1))	

str1 = 'for'

# Returns str2
print(repr(str1 and str2))

# Returns str1
print(repr(str2 and str1))

# Returns str1	
print(repr(str1 or str2))

# Returns str2	
print(repr(str2 or str1))	

str1='geeks'

# Returns False
print(repr(not str1))		

str1 = ''

# Returns True
print(repr(not str1))

''
'geeks'
'geeks'
'geeks'
'for'
'for'
'geeks'
False
True

# Very Important : String Slicing Concept

In [6]:
# what is slice : it is just a piece of anything.
# string slicing : piece of strings.

In [104]:
msg=" my name is abhishek kumar."
slice1="my"
slice2="m" # it is not the smallest..
slice3="" # it is the smallest slice from the msg.
slice4=" my name is abhishek kumar."
slice5=" is "

In [105]:
# how to slice a given string.
# we will use index concept to slice the given string.

In [106]:
# what is indexing: each element of a string is assigned a values from left
# to right starting from 0, this concept is called positive indexing.
# positive indexing vs negative indexing.

# negative indexing : we will assigned a values from right to left starting from -1,
# this concept is called negative indexing.

In [125]:
msg=" my name is abhishek kumar."
slice1=msg[0:3]
print(repr(slice1))
slice2=msg[0:2] # it is not the smallest..
print(repr(slice2))
slice3=msg[0:0] # it is the smallest slice from the msg.
print(repr(slice3))
slice4=msg[0:]
print(repr(slice4))

slice5=" is "


# these slices are called substring in programming world.

' my'
' m'
''
' my name is abhishek kumar.'

In [126]:
name="abhishek"
print(name[0]) # first character
print(name[1]) #second character
print(name[-1]) # last character
print(name[-2]) # second last character.
print(name[-8]) # first character.

a
b
k
e
a

In [127]:
# lets see the syntax of the string slice notation.

In [128]:
# stringname[start : end : step] , where step == optional

In [129]:
name ="abhishek  kumar"
print(name[0::2])
print(name[::])

ahse kmr
abhishek  kumar

In [130]:
#basic python-->1) machine learning (machine learning course).
            #   2) Full stack developement. (learn python frameworks like flask or django.)
            #   3) Competitive coding (data structures using python and 
        # algorithms using python.)

In [131]:
# subtring using slicing concept: 
#string_name[begin : end : step] , step is optional.

In [132]:
# how to convert string into a list.

In [134]:
# first method : this methods is used when we have single word in a string.

name="abhishek"
name=list(name)
print(name)

['a', 'b', 'h', 'i', 's', 'h', 'e', 'k']

In [135]:
# this methods is not useful for msg strings.
msg="my name is abhishek"
print(list(msg))

['m', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'a', 'b', 'h', 'i', 's', 'h', 'e', 'k']

In [137]:
# second technique: split function.
msg="my name is abhishek"
list1=msg.split()
print(list1)

['my', 'name', 'is', 'abhishek']

In [139]:
msg="Geeks-for-geeks"
list1=msg.split('-') # this "-" is called delimiter.
print(list1)

['Geeks', 'for', 'geeks']

In [146]:
# now how to concatenate list of strings.
list2=['Geeks', 'for', 'geeks']
msg='-'.join(list2)
print(msg)

Geeks-for-geeks

In [147]:
# String Functions :


# 1) find
# 2) rfind
# 3) startswith
# 4) endswith
# 5) count

# 5) islower
# 6) isupper
# 7) lower
# 8) upper
# 9) swapcase
# 10) title
# 11) len
# 13) center
# 14) ljust
# 15) rjust
# 16) isaplha
# 17) isalnum
# 18) isspace
# 19) join
# 20) strip
# 21) lstrip
# 22) rstrip
# 23) min
# 24) max
# 25) maketrans
# 26) translate
# 27) replace
# 28) expandtabs

In [ ]:
# 1) find(string, start,end) : it returns the index of the string first character of the first found string.
# 2) rfind(string,start,end)  : it returns the index of the string first chracter of the last found string.
# 3) startswith(string, start, end) : 
# 4) endswith(string, start,end)
# 5) count(string, start,end)


# for each , start and end is optional : default value is 0 and end-1.

In [166]:
msg='''An old man lived in the village. He was one of the most unfortunate people in the world. The whole village was tired of him; he was always gloomy, he constantly complained and was always in a bad mood.

The longer he lived, the more bile he was becoming and the more poisonous were his words. People avoided him, because his misfortune became contagious. It was even unnatural and insulting to be happy next to him.

He created the feeling of unhappiness in others.

But one day, when he turned eighty years old, an incredible thing happened. Instantly everyone started hearing the rumour:'''

In [167]:
msg.find('old',10)

508

In [168]:
msg.rfind('old')

508

In [169]:
msg.startswith('B')

False

In [170]:
msg.count('old')

2

In [190]:
# in programming world : small letters are called lowercase and capital(Block) letter are called Uppercase.

# 5) islower
# 6) isupper
# 7) lower
# 8) upper
# 9) swapcase
# 10) title
# 11) len

In [191]:
name="abhishek"
name.islower()

True

In [192]:
name.isupper()

False

In [193]:
name="ABHISHEK"
name.isupper()

True

In [194]:
name="Abhishek"
name.isupper()

False

In [195]:
msg="My name is Abhishek KUMAR."
print(msg.lower())

my name is abhishek kumar.

In [196]:
print(msg)

My name is Abhishek KUMAR.

In [197]:
msg.upper()

'MY NAME IS ABHISHEK KUMAR.'

In [198]:
msg.title()

'My Name Is Abhishek Kumar.'

In [199]:
msg.len()  # it will show the error , because it is not a member function.

AttributeError: 'str' object has no attribute 'len'

In [200]:
len(msg)

26

In [201]:
msg

'My name is Abhishek KUMAR.'

In [189]:
msg.swapcase()

'mY NAME IS aBHISHEK kumar.'

In [ ]:
# 13) center : Center jutify   # these functions are used by full stack developers.
# 14) ljust : left justify
# 15) rjust : right justify
# 16) isaplha :  if the string consists of only alphabets (26 alphabets.)
# 17) isalnum : alphabets + numbers.
# 18) isspace : This function returns true when all the characters in the string are spaces else returns false.
# 19) join :  join the given lists as a string.
# 20) strip : remove(strip) from both sides.
# 21) lstrip : left strip(remove) the unwanted characters.
# 22) rstrip : right strip(remove) the unwanted characters.

In [203]:
msg='''An old man lived in the village. He was one of the most unfortunate people in the world. The whole village was tired of him; he was always gloomy, he constantly complained and was always in a bad mood.

                                The longer he lived, the more bile he was becoming and the more poisonous were his words. People avoided him, because his misfortune became contagious. It was even unnatural and insulting to be happy next to him.

He created the feeling of unhappiness in others.

          But one day, when he turned eighty years old, an incredible thing happened. Instantly everyone started hearing the rumour:'''

In [204]:
print(msg)

An old man lived in the village. He was one of the most unfortunate people in the world. The whole village was tired of him; he was always gloomy, he constantly complained and was always in a bad mood.

                                The longer he lived, the more bile he was becoming and the more poisonous were his words. People avoided him, because his misfortune became contagious. It was even unnatural and insulting to be happy next to him.

He created the feeling of unhappiness in others.

          But one day, when he turned eighty years old, an incredible thing happened. Instantly everyone started hearing the rumour:

In [209]:
msg.center(20,'-')

'An old man lived in the village. He was one of the most unfortunate people in the world. The whole village was tired of him; he was always gloomy, he constantly complained and was always in a bad mood.\n\n                                The longer he lived, the more bile he was becoming and the more poisonous were his words. People avoided him, because his misfortune became contagious. It was even unnatural and insulting to be happy next to him.\n\nHe created the feeling of unhappiness in others.\n\n          But one day, when he turned eighty years old, an incredible thing happened. Instantly everyone started hearing the rumour:'

In [212]:
msg="abhsihek1"
msg.isalpha()

False

In [216]:
password="abhi9835"
if password.isalnum()==True:
    print("your password is not strong..")
else:
    print("Your password is strong..")

your password is not strong..

In [218]:
name="                 "

name.isspace()

True

In [219]:
list1=[1,'abhishek',10.222,'Ram kunmar'] # any ds(data structure) can store
# any simple data types.

In [223]:
# but in case of join, list passed as a paramter must contain only strings.

msg=' '.join(list1)

TypeError: sequence item 0: expected str instance, int found

In [224]:
print("{}".format(' '.join(['My','name','is','Khan'])))

My name is Khan

In [225]:
name="     Abhishek     kumar      "
name.strip()

'Abhishek     kumar'

In [226]:
name="     Abhishek     kumar      "
name.lstrip()

'Abhishek     kumar      '

In [227]:
name="     Abhishek     kumar      "
name.rstrip()

'     Abhishek     kumar'

In [ ]:
# 23) min : it is not the member function.
# 24) max : it is not the member function.

# both these function are always used together.
# 25) maketrans : it is used for finding the mapping(reasoning) between two string of same length.
# 26) translate : this will used for translating the according to the given mapping.

# refer to course for explanation.

# 27) replace
# 28) expandtabs

In [233]:
name="aAbhishek" # means it compares by ascii value.
# according to ascii values : A < Z < a < z
min(name)

'A'

In [235]:
name="AbhishekKumar"
max(name)


for x in name:
    print("Character is : {} and it ascii value is : {}" . format(x, ord(x)))

Character is : A and it ascii value is : 65
Character is : b and it ascii value is : 98
Character is : h and it ascii value is : 104
Character is : i and it ascii value is : 105
Character is : s and it ascii value is : 115
Character is : h and it ascii value is : 104
Character is : e and it ascii value is : 101
Character is : k and it ascii value is : 107
Character is : K and it ascii value is : 75
Character is : u and it ascii value is : 117
Character is : m and it ascii value is : 109
Character is : a and it ascii value is : 97
Character is : r and it ascii value is : 114

In [242]:
# Python code to demonstrate working of 
# maketrans() and translate()
from string import maketrans # for maketrans()

str = "geeksforgeeks"

str1 = "gfo"
str2 = "abc"

# using maktrans() to map elements of str2 with str1
mapped = maketrans( str1, str2 )

# using translate() to translate using the mapping
print "The string after translation using mapped elements is : "
print  str.translate(mapped)

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("The string after translation using mapped elements is : ")? (<ipython-input-242-9fa0c95dd519>, line 14)

In [243]:
# replace(str1,str2):

str = "nerdsfornerds is for nerds"

str1 = "nerds"
str2 = "geeks"

# using replace() to replace str2 with str1 in str
# only changes 2 occurrences 
print ("The string after replacing strings is : ", end="")
print (str.replace( str1, str2, 2))

The string after replacing strings is : geeksforgeeks is for nerds

In [ ]:
# All about regular expressions :

In [228]:
# What is regular Expression : It is an expression.
# Regular expression used for pattern matching:
# data which has some pattern in it, or when we
# want data to be a pattern based, then we need regular expression.


# to use this RE we need to import re module in python.

In [229]:
# 1) mobile number data in india has a pattern.
# 2) email id data has  a pattern.

In [230]:
#to understand Regular expression, we need understand MetaChaaraceters  first:

# there are total 14 metacharacters as follows which will be used in functions of moudulee  Re.

In [ ]:
# \   Used to drop the special meaning of character
#     following it (discussed below)
# []  Represent a character class
# ^   Matches the beginning
# $   Matches the end
# .   Matches any character except newline
# ?   Matches zero or one occurrence.
# |   Means OR (Matches with any of the characters
#     separated by it.
# *   Any number of occurrences (including 0 occurrences)
# +   One or more occurrences
# {}  Indicate nu``mber of occurrences of a preceding RE 
#     to match.
# ()  Enclose a group of REs

In [ ]:
#examples :-

# [abc] = a or b or c
# [^abc] = any character expcept a, b, c
# [a-z]= a to z
# [A-Z] = A-Z
# [a-z A-Z]=a to z , A-Z
# [0-9] = 0-9


# quantifiers : it tells about the repetition.

# []? == occurs 0 or 1 time.
# []+ == occurs 1 or more times.
# []* == occurs 0 or more times.
# []{n} == occurs n times.
# []{n,}==occurs n or more times.
# []{y,z}==occurs atleast y times but less than z times.



# metacharacter are used for short form.

# \d === [0-9]
# \D === [^0-9]
# \w ===[a-z A-Z 0 -9]
# \W=== [^\w]


# \d   Matches any decimal digit, this is equivalent
#      to the set class [0-9].
# \D   Matches any non-digit character.
# \s   Matches any whitespace character.
# \S   Matches any non-whitespace character
# \w   Matches any alphanumeric character, this is
#      equivalent to the class [a-zA-Z0-9_].
# \W   Matches any non-alphanumeric character

# note  : \ tells the compiler to treat the following 
# character as search character for '+' , '.'

In [ ]:
# example 1:

# 1) Mobile number -> start with 8 or 9 and total digits=10
#  ans : [89][0-9]{9}

In [ ]:
# example 2. 
# first character uppercase , contains lowercase alphabet, only one
# digit allowed in between.
# [A-Z][a-z]*[0-9][a-z]*

In [ ]:
# example 3.
#  Email id : abhishekbtech14@gmail.com
#         [a-z A-Z 0 -9 _ \-\.]+[@][a-z]+[\.][a-z]{2,3}