# Practice for Nested Loop.

In [1]:
# f(x): x is a real no.
# f(g(x)) : g(x) is a function: nested function.

In [3]:
print(type(10)) # this is an example of nested function.

<class 'int'>

In [4]:
# similarly , we have a concept of nested loop.

In [8]:
list1_=[1,2,3,4,5]
list2_=[6,7,8,9,10]
for x in list1_:
    print(x, end=" ")

1 2 3 4 5

In [9]:
for x in list2_:
    print(x, end =" ")

6 7 8 9 10

In [10]:
print(len(list1_))

5

In [18]:
# requirement of the problems : use nested loop.
# print : 16 , 17,18,19,110
        # 26,27,28,29,210.


for x in list1_:
    for y in list2_:
        print(str(x) + str(y) , end=" ")
    print("\n")

16 17 18 19 110

26 27 28 29 210

36 37 38 39 310

46 47 48 49 410

56 57 58 59 510

In [19]:
# requirement:
# 61, 62,63, 64, 65
# 71, 72, 73, 74, 75


#101 102, 103, 104, 105

for x in list2_:
    for y in list1_:
        print(str(x) + str (y), end=" ")
    print("\n")

61 62 63 64 65

71 72 73 74 75

81 82 83 84 85

91 92 93 94 95

101 102 103 104 105

In [20]:
# to practice this concepts, we generally practice on star patterns based questions.

In [25]:
# single loop is used for single dimensional repetition either horizontally and vertically.

In [27]:
# nested loop is used for two dimensional repetition, table  ,where we have rows and columns.

In [31]:
for row in range(1,6):
    print("A", end=" ")

A A A A A

In [32]:
for x in range(1,6):
    for y in range(1,6):
        print("*", end=" ")
    print("\n")

* * * * *

* * * * *

* * * * *

* * * * *

* * * * *

In [37]:
for x in range(1,6):
    for y in range(0,6-x):
        print("*", end=" ")
    print("\n")

* * * * *

* * * *

* * *

* *

*

In [39]:
for x in range(0,6):
    print("*" , end=" ")

* * * * * *

In [40]:
for x in range(0,5):
    print("*" , end=" ")

* * * * *

In [41]:
for x in range(0,4):
    print("*" , end=" ")

* * * *

In [42]:
for x in range(0,3):
    print("*" , end=" ")

* * *

In [43]:
for x in range(0,2):
    print("*" , end=" ")

* *

In [44]:
for x in range(0,1):
    print("*" , end=" ")

*

In [47]:
for y in [6,5,4,3,2,1]:
    
    for x in range(0,y):
        print("*" , end=" ")
    print("\n")

* * * * * *

* * * * *

* * * *

* * *

* *

*

In [48]:
for y in range(1,7):
    
    for x in range(0,7-y):
        print("*" , end=" ")
    print("\n")

* * * * * *

* * * * *

* * * *

* * *

* *

*

In [50]:
for x in range(7,0,-1):
    print(x)

7
6
5
4
3
2
1

In [54]:
for x in range(1,5):
    for y in range(1,5):
        if x<=y :
            print("*" , end=" ")
        else:
            print(" ", end =" ")
    print("\n")

* * * *

  * * *

    * *

      *

In [3]:
for x in range(1,5):
    for y in range(1,5):
        if y>=5-x and y<=4:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print("\n")

      *

    * *

  * * *

* * * *

In [70]:
# 1)
for x in range(1,5):
    m=1
    n=65
    for y in range(1, 8):
        if  y>=5-x and y<=3 + x:
            if y<=4:
                print(m, end=" ")
                m=m+1
            else:
                print(chr(n),end=" ")
                n=n+1
            
        else:
            print(" ",end=" ")
    print("\n")

      1

    1 2 A

  1 2 3 A B

1 2 3 4 A B C

In [68]:
print(chr(65))

A

In [72]:
# first code for the shape i.e just take each character available as a  *.
# then, code for characters available , chr() , ord().

In [78]:
# 2)
for x in range(1,10):
    a=1
    k=True
    for y in range(1,10):
        if x<=5:
            if y>=6-x and y<=4+x:
                if k==True:
                    print(a, end=" ")
                    a=a+1
                    k=False
                else:
                    print("*", end=" ")
                    k=True
            else:
                print(" ",end=" ")
                
        else:
            if y>=x-4 and y<=14-x:
                if k==True:
                    print(a, end=" ")
                    a=a+1
                    k=False
                else:
                    print("*", end=" ")
                    k=True
                
            else:
                print(" ", end=" ")
    print("\n")

        1

      1 * 2

    1 * 2 * 3

  1 * 2 * 3 * 4

1 * 2 * 3 * 4 * 5

  1 * 2 * 3 * 4

    1 * 2 * 3

      1 * 2

        1

# Else statement in for and while loops

In [82]:
#in c++/ java, we do not have options to create else statements, but this possible 
# in python, it can be written with for and while loops.

In [83]:
for x in [10,12,13,14]:
    print(x)

else:
    print("this is the else block of the for loop.")

10
12
13
14
this is the else block of the for loop.

# Loop control statements

In [85]:
# in every language , we have loop control statements.
# 1) continue, 2) break and 3) pass.

# it means when we use this statements, it is going to
# control the loops somehow.

In [89]:
for x in range(1,11):
    if x ==4:
        break  # used to handle future problems.
    print(x, end=" ")
#Break Statement: It brings control out of the loop.

1 2 3

In [90]:
for x in range(1,11):
    if x ==4:
        continue  # used to handle future problems.
    print(x, end=" ")

#Continue Statement: It returns the control(cursor) to the beginning of the loop.

1 2 3 5 6 7 8 9 10

In [91]:
#Pass Statement: We use pass statement to write empty loops. 
#Pass is also used for empty control statement, function and classes.

In [95]:
for x in "aBHIHShek":
    pass

In [99]:
# using while loops for iterating over elements of different data structures.

In [101]:
list_=[1,2,3,35,56,65]
tuple_ =(1,2,3,35,56,65)
set_= {1,2,3,35,56,65}
string_="abhishek"
dict_={'name':"abhishek", 'age':20}



for x in list_:
    print(x, end=" ")

print(" \n")

 
#this will work only indexed supported data strututes : list , tuple , string.
for x in range(len(list_)):
    print(list_[x], end=" ")

1 2 3 35 56 65

1 2 3 35 56 65

In [102]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [103]:
# when traversing elements using while loop, we need len() function.

In [2]:
list_=[1,2,3,35,56,65]
tuple_ =(1,2,3,35,56,65)
set_= {1,2,3,35,56,65}
string_="abhishek"
dict_={'name':"abhishek", 'age':20}

In [3]:
index=0
while index <len(list_):
    print(list_[index], end=" ")
    index= index +1

1 2 3 35 56 65

In [6]:
index=0
while index <len(tuple_):
    print(tuple_[index], end=" ")
    index= index +1

1 2 3 35 56 65

In [8]:
# index=0
# while index <len(set_):
#     print(set_[index], end=" ")
#     index= index +1


# while loop do not works for set and dictionary.

In [9]:
index=0
while index <len(string_):
    print(string_[index], end=" ")
    index= index +1

a b h i s h e k

In [97]:
# Unlike every other programming language we have used 
# before, Python does not have a switch or case statement. 
#To get around this fact, we use dictionary mapping.

In [98]:
# Function to convert number into string
# Switcher is dictionary data type here
def numbers_to_strings(argument):
    switcher = {
        0: "zero",
        1: "one",
        2: "two",
    }

    # get() method of dictionary data type returns 
    # value of passed argument if it is present 
    # in dictionary otherwise second argument will
    # be assigned as default value of passed argument
    return switcher.get(argument, "nothing")

In [10]:
# 3) 
for x in range (1,5):
    for y in range(1,8):
        if y>=x and y<=8-x:
            print("*" ,end=" ")
            
        else:
            print(' ' ,end=" ")
    print("\n")

* * * * * * *

  * * * * *

    * * *

      *

In [11]:
# 4)

for x in range(1,8):
    for y in range(1,5):
        if x<=4:
            if y>=1 and y<=x:
                print("*" ,end=" ")
            else:
                print(" " ,end=" ")
        
        else:
            if y>=1 and y<=8-x:
                print("*" ,end=" ")
            else:
                print(" " ,end=" ")
                
    print("\n")

*

* *

* * *

* * * *

* * *

* *

*

In [22]:
for x in range(1,10):
    for y in range(1,6):
        if x<=5:
            if y>=6-x and y<=5:
                 print("*",end=" ")
                    
            else:
                print(" " ,end=" ")
        
        else:
            if y>=x-4 and y<=5:
                print("*" ,end=" ") 
                    
            else:
                print(" " ,end=" ")
    print("\n")

        *

      * *

    * * *

  * * * *

* * * * *

  * * * *

    * * *

      * *

        *

In [33]:
# 5)


for x in range(1,10):
    a=1
    for y in range(1,6):
        if x<=5:
            if y>=6-x and y<=5:
                print(a ,end=" ")
                a=a+1
                    
            else:
                print(" " ,end=" ")
        
        else:
            if y>=x-4 and y<=5:
                print(a ,end=" ")
                a=a+1
    
            else:
                 print(" " ,end=" ") 
            
    print("\n")

        1

      1 2

    1 2 3

  1 2 3 4

1 2 3 4 5

  1 2 3 4

    1 2 3

      1 2

        1

In [7]:
# 6)

for x in range(1,10):
    for y in range(1,10):
        if x<=5:
            if y>=6-x and y<=x+4:
                print("*" ,end=" ")
            else:
                print(" " ,end=" ")
                
        else:
            if y>=x-4 and y<=14-x:
                print("*" ,end=" ")
            else:
                print(" " ,end=" ")
    print("\n")

        *

      * * *

    * * * * *

  * * * * * * *

* * * * * * * * *

  * * * * * * *

    * * * * *

      * * *

        *

In [15]:
# 7)
z=7
for x in range(1,8):
    z=z-1
    a=z
    for y in range(1,8):
        if y>=1 and y<=8-x:
            print(a ,end=" ")
            a=a-1
            
        else:
            print(" " ,end=" ")
    print("\n")

6 5 4 3 2 1 0

5 4 3 2 1 0

4 3 2 1 0

3 2 1 0

2 1 0

1 0

0

In [17]:
# 8)

for x in range( 1,10):
    for y in range(1,10):
        if x>=1 and x<=5:
            if y>=7-x and y <=x+3:
                print(" " ,end=" ")
            else:
                print("*" ,end=" ")
        else:
            if y>=x-3 and y<=13-x:
                print(" " ,end=" ")
            else:
                print("*" ,end=" ")
    print("\n")

* * * * * * * * *

* * * *   * * * *

* * *       * * *

* *           * *

*               *

* *           * *

* * *       * * *

* * * *   * * * *

* * * * * * * * *

In [34]:
for x in range (1,5):
    for y in range(1,8):
        if y>=5-x and y<=3+x:
            print("*" ,end=" ")
        else:
            print(" " ,end=" ")
    print("\n")

      *

    * * *

  * * * * *

* * * * * * *

In [44]:
#9)

for x in range (1,5):
    m=64
    k=True
    for y in range(1,8):
        if y>=5-x and y<=3+x:
            if y<=4:
                m=m+1
                print(chr(m) ,end=" ")
                
            else:
                if k==True:
                    n=m-1
                    k=False
            
                print(chr(n) ,end=" ")
                n=n-1
                
        else:
            print(" " ,end=" ")
    print("\n")

      A

    A B A

  A B C B A

A B C D C B A

In [15]:
# 10)

m=1
for x in range (1,5):
    
    for y in range(1,8):
        if y>=5-x and y<=3+x:
            if y<=4:
                print(m ,end=" ")
                m=m+1
                
            else:
                print("*" ,end=" ")
        else:
            print(" " ,end=" ")
    print("\n")

      1

    2 3 *

  4 5 6 * *

7 8 9 10 * * *

In [25]:
#11) 

for x in range (1,5):
    m=65
    for y in range(1,9):
        if y>=5-x and y>=x-4:
            print(" *" ,end=" ")
            
        else:
            print(" ",end=" ")
    print("\n")

       *  *  *  *  *

     *  *  *  *  *  *

   *  *  *  *  *  *  *

 *  *  *  *  *  *  *  *