# Practice : Single Loop based patterns using for or while loop.

In [ ]:
# print : from 1 to 10.

In [ ]:
for x in range(1,11):
    print(x , end = ' ')

In [ ]:
# print : 2, 4, 6, 8 ...20.
# trick1: always use this x as counter only.
# trick2 : use one variable to represent one logic, so multiple logic , we can use multiple variables.
#trick3 : use k to alternate things.
# what is the logic represents here : it means find the reasoning of the problem, 
#what is the next element of the problem.

a=2
for x in range(1,11):
    print(a, end=' ')
    a=a+2

In [ ]:
# print : 1^3, 2^3 ....10^3
# since it represents only one logic.
a=1
for x in range(1,11):
    print(a*a*a , end = ' ')
    a=a+1

In [ ]:
import math
# # print : 1^1, 2^2 ....10^10
# since it represents two logic.
a=1
power=1
for x in range(1,11):
    print(int(math.pow(a,power)) , end = ' ')
    a=a+1
    power=power +1

In [ ]:
#print : 1^3,2^3.....10^3 (7)

a=1
for x in range(1,11):
    print(a*a*a , end = ' ')
    a=a+1

In [ ]:
#print: 1,2,6,15,31

import math
a=1
b=1

for x in range(1,6):
    print(a, end = ' ')

In [ ]:
#print : 5, 7.5,15,,37.5, 112.5...
import math
a=5
b=0.5
for x in range(5,10):
    print(a+(a*b), end = ' ')
    a=a+1
    b=b+1

In [ ]:
#print : 1^2+1^3,2^2+2^3......10^2+10^3

a=1
b=1
for x in range(1,11):
    print (a*a+b*b*b , end = ' ')
    a=a+1
    b=b+1

In [ ]:
#print: 1,2,2,4,3,6,4,8,5

a=1
b=2
for x in range(1,6):
    print(a,b , end = ' ')
    a=a+1
    b=b+2

In [ ]:
#print : 1,2,1,2,1,2,1,2

a=1
b=2
for x in range (1,5):
    print(a,b ,end = ' ')

In [ ]:
#print : 1,2,3,4,5,6,5,4,3,2,1

a=1
b=5
for x in range (1,7):
    print(a , end = ' ')
    a=a+1
for x in range (1,6):
    print (b , end = ' ')
    b=b-1

In [ ]:
#print : 1,2,4,7,11,16,22.

a=1
b=1


for x in range (1,11):
    print (a, end = ' ')
    a=a+b
    b=b+1

In [ ]:
#print : 1,2,6,15,31....

a=1
b=1
for x in range(1,11):
    print(a , end = " ")
    a=a+b*b
    b=b+1

In [ ]:
#print : 19,22,50,103..

a=19
b=3
c=25
for i in range (1,11):
    print (a, end = " ")
    a=a+b
    b=b+c

In [ ]:
#print : 5,7.5,15,37.5,112.5, ......

a=5
b=1.5

for i in range (1,11):
    print (a , end = " ")
    a=a*b
    b=b+0.5

In [ ]:
# print: 4,11,30,67,128,......
a=4
b=7
c=12

for i in range (1,11):
    print(a , end = " ")
    a=a+b
    b=b+c
    c=c+6

In [ ]:
# print: 0,5,18,43,84,145.....

a=0
b=5
c=8

for i in range(1,11):
    print(a , end = ' ')
    a=a+b
    b=b+c
    c=c+4

In [ ]:
#print: 13,41,85,145,221...

a=2
b=3

for y in range (1,11):
    print (a*a+b*b , end = " ")
    a=a+2
    b=b+2

In [ ]:
# print: 128,6,64,9,32,12,16,15,8,.....

a=128
b=6

for d in range (1,11):
    print(a,b , end = " ")
    a=a/2
    b=b+3

In [ ]:
print(5/2)

In [ ]:
#print: 15,27,51,99,.....

a=15
b=2
c=3

for v in range (1,11):
    print(a, end = ' ')
    a=(a*b)-c

In [ ]:
#print: 50,98,194,386,....

a=50

for i in range(1,11):
    print(a , end= ' ')
    a=(a*2)-2

In [ ]:
#print: 45,91,184,371,746,....

a=45
b=1

for i in range(1,11):
    print(a , end = ' ')
    a=(a*2)+b
    b=b+1

In [ ]:
#print: 1,5,9,17,25,37,49,......

a=1
b=2

for i in range(1,11):
    print(a*a,b*b+1, end = ' ')
    a=a+2
    b=b+2

In [ ]:
#print: 972,108,18,6,...

a=972
b=9

for i in range (1,4):
    print(a, end = " ")
    a=a/b
    b=b-3

In [ ]:
#print: 22,42,64,88,114,....


b=3
c=13

for i in range(1,11):
    print(b*b+c , end= " ")
    b=b+1
    c=c+13

In [ ]:
#print: 215,19,163,63,127,....

a=215
b=14
k=0
for i in range(1,11):
    if k==0:
        print(a, end= " ")
        a=a-b*b
        b=b-2
        k=1
    elif k==1:
        print(a, end= " ")
        a=a+b*b
        b=b-2
        k=0

In [ ]:
#print: 23,39,32,48,41,57,....

a=23
b=39

for i in range(1,11):
    print(a,b, end= " ")
    a=a+9
    b=b+9

In [ ]:
#print: 3.5,4.5,11,48,...

b=1
c=3.5
for i in range(1,11):
    print(c, end= " ")
    c=(c*b)+b
    b=b*2

In [3]:
# print: 11,24,44,70,101,.....

a=11
b=13
c=7

for i in range(1,11):
    print(a, end= " ")
    a=a+b
    b=b+c
    c=c-1

11 24 44 70 101 136 174 214 255 296 11 24 44 70 101 136 174 214 255 296

In [4]:
#print : 2,9,28,65,126,217,.....

a=2
b=7
c=12

for i in range (1,11):
    print(a, end=" ")
    a=a+b
    b=b+c
    c=c+6

2 9 28 65 126 217 344 513 730 1001 2 9 28 65 126 217 344 513 730 1001

In [5]:
#print: 150,102,70,46,26,...

a=150
b=48
c=16
for h in range (1,11):
    print(a, end=" ")
    a=a-b
    b=b-c
    c=c/2

150 102 70 46.0 26.0 8.0 -9.0 -25.5 -41.75 -57.875 150 102 70 46.0 26.0 8.0 -9.0 -25.5 -41.75 -57.875

In [7]:
#print: 2,4,4,8,16,16,256,32,....

a=2
b=4
for l in range(1,5):
    print(a,b, end=" ")
    a=a*a
    b=b*2

2 4 4 8 16 16 256 32 2 4 4 8 16 16 256 32

In [11]:
#print: 123,234,345,456,....

a=1
b=2
c=3

for i in range(1,11):
    print(str(a) + str(b) + str(c), end=" ")
    a=a+1
    b=b+1
    c=c+1

123 234 345 456 567 678 789 8910 91011 101112 123 234 345 456 567 678 789 8910 91011 101112

In [5]:
#print: 1,3,11,35,99,.....
import math
a=1
b=1
c=1
for i in range(1,11):
    print(int(a), end=" ")
    a=a+b*math.pow(2,c)
    b=b+1
    c=c+1

1 3 11 35 99 259 643 1539 3587 8195

In [3]:
# print: 1*2,2*2^2,3*2^3,....
import math
a=1
power=1

for i in range (1,8):
    print(int(a*math.pow(2,power)), end=" ")
    a=a+1
    power=power +1

2 8 24 64 160 384 896

In [6]:
# series vs sequence : 
# sequence : till now, what we have done is sequence printing, 
# 1, 2 , 3 , 4 , 5 , 6 , 
# series : it is a combination of sequnce with some operators. (+ - , * , /)
# series 1 : 1 + 2 - 3 + 4 + 5
# series  : 1 + 2 + 3 + 4+ 5 +6


# trick to solve this problem : create a variable name as sum or depening on the problems.

In [9]:
sum =0
a =1
for  x in range(1,11):
    sum = sum  + a
    print(sum)
    a=a+1

print(sum)

1
3
6
10
15
21
28
36
45
55
55

In [11]:
mul=1
a=1
for x in range(1,11):
    mul=mul *a
    print(mul , end =" ")
    a=a+1
    
print(" \n",mul)

1 2 6 24 120 720 5040 40320 362880 3628800
 3628800